:host {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

.main-container{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.sub-container{
  display: grid;
  grid-template-columns: 50%;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container{
   width: 100%;
  display: block;
   color: black;  
   padding: 30px;
   box-shadow:var(--sellfone-login-container-shadow, 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22));
}
.login-input{
  width: 100%;
  font-size: 105%;
  padding: 8px;
  border: none;
  border:1px solid #e9e9e9;
  border-radius: 5px;
  transition: 0.2s;
}

.login-input:focus{
  border:1px solid black;
}

input{
  margin: 10px 0;
}

.sub-link-container{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.link{
  float:right;
  text-decoration: none;
  color: black;
  font-size:115%;
  transition: 0.3s;
}

.link:hover{
  color:var(--sellfone-login-link-hover,#1aada3);
}

.mandatory{
  color:var(--sellfone-login-link-mandatory,rgb(192, 56, 56));
}

.mainButton{
  width: 100%;
  font-size: 115%;
  padding: 10px 0;
  border: none;
  background: none;
  transition:0.3s;
  cursor: pointer;
}

.mainButton:hover{
  background-color:var(--sellfone-login-main-button-hover,#333333);
  color: white;
}

.registerButton:hover{
  background-color:var(--sellfone-register-main-button-hover,#1aada3);
 
}

.text{
  text-align: justify;
  font-size: 125%;
}

.errors{
  color: var(--sellfone-login-link-mandatory,rgb(192, 56, 56));
}

@media only screen and (max-width: 768px) {
  .sub-link-container{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .link{
    float: none;
  }

  .mainButton{
    background-color: #333333;
    color: white;
    margin-bottom: 5px;
  }

  .registerButton{
    background-color:#1aada3;
  }

}

@media only screen and (max-width: 650px) {
  .sub-link-container{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .link{
    float: none;
  }

  .mainButton{
    background-color: var(--sellfone-login-main-button-hover,#333333);
    color: white;
    margin-bottom: 5px;
  }

  .registerButton{
    background-color:var(--sellfone-register-main-button-hover,#1aada3);
  }

}

@media only screen and (max-width: 500px) {

  .sub-container{
    display: grid;
    grid-template-columns:100%;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .sub-link-container{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .link{
    float: none;
  }

  .mainButton{
    background-color: var(--sellfone-login-main-button-hover,#333333);
    color: white;
    margin-bottom: 5px;
  }

  .registerButton{
    background-color:var(--sellfone-register-main-button-hover,#1aada3);
  }

}